<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlink}}
</head>

<body>
    {{>navbar}}

    <!---- Main Content-->
    <div class="conatiner-fuild">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                <!--Left side-->

                <div class="col-md-6 col-12 main_header_right">
                    <figure>
               <img src="Images/about.jpg" alt="" class="img-fluid w-100" title="abhi"> 
                    </figure>
            </div>

                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Sharma's Family </p>
                    <h1>I am a <span class="text_clr">Web Developer</span> and a Freelancer</h1>
                    <a href="https://www.github.com/sharma11122" target="__abhi"><button>About me</button></a>
                </div>
                
                

            </div>
            </div>
            </div>    
            </div>
    
    <!-- footer -->
    {{>footer}}
</body>

</html>